{{!< default}}

<div class="container">
    <div class="">
        <div class="left-section">
            {{#post}}
           <div class="blog-outer">

							 <div class="blog-heading"><a href="{{url}}">{{title}}</a></div>
				
                 <div class="date">
                <img src="{{asset 'images/calender.png'}}"> {{date}}
            </div>
                <div class="blog-image full-width marginT25">
                    {{#if image}}
                       <div class="Image"> <a href="{{url}}"><img src="{{image}}" alt="{{name}}" class="index-article-image" /></a></div>
                    {{/if}}
                    {{content}}
                </div>
				
				            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="share-img"><img src="{{asset 'images/twitter-share-icon.png'}}" /></span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="share-img"><img src="{{asset 'images/fb-share-icon.png'}}" /></span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="share-img"><img src="{{asset 'images/gplus-share-icon.png'}}" /></span>
                </a>
            </section>

				<!--
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                var disqus_shortname = '!!!!!!!!ENTER YOUR DISQUS SHORTNAME HERE!!!!!!';
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                </script>
                <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
				
				<div id="disqus_thread"></div>

<script>
/**

 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.

 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

/*

var disqus_config = function () {

    this.page.url = https://blog.bagcupid.com;  // Replace PAGE_URL with your page's canonical URL variable

    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

};

*/

(function() { // DON'T EDIT BELOW THIS LINE

    var d = document, s = d.createElement('script');

    s.src = '//bag-cupid-blog.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());

    (d.head || d.body).appendChild(s);

})();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	
	
	
                          
            </div>
            {{/post}}
        </div>

          <aside>
		  
		  
		  
    <div class="right-section">  
	<div class="blog-outer right">
		<div class="heading">Featured</div>
			{{#get "posts" limit="3" as |recents|}}
				<section class="recent-posts">
					<ol>
						{{#foreach recents}}
							<li><a href="{{url}}">{{title}}</a></li>
						{{/foreach}}
					</ol>
				</section>
			{{/get}}
		</div>		
        <div class="blog-outer right">
            {{subscribe_form}}
        </div>
        <!--<div class="blog-outer right">
            <div class="blog-heading small">Follow this blog</div>
            <div class="social-icons">
                <a href="#"><img src="{{asset 'images/fb-icon.png'}}" /></a>
                <a href="#"><img src="{{asset 'images/twitter-icon.png'}}" /></a>
                <a href="#"><img src="{{asset 'images/instagram-icon.png'}}" /></a>
            </div>
        </div>-->
    </div>
</aside>
    </div>
</div>


<script type="text/javascript">
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            var wrapper = document.createElement('div');
            wrapper.innerHTML = xmlhttp.responseText;
            var wrapperarray = wrapper.getElementsByClassName('article-title');
            var wrapperlinkarray = wrapper.getElementsByClassName('article-title-link');
            for(var i = 0; i < wrapperarray.length; i++){
                document.getElementById('aside-ul').innerHTML += '<li><a href="' + wrapperlinkarray[i] + '">' + wrapperarray[i].innerHTML + '</a></li><hr />'            
            }
            delete wrapper;
        }
    }
    xmlhttp.open("GET","/",true);
    xmlhttp.send();
</script>
